/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 span.badge {
  font-weight: 300;
  font-size: 1rem;
  line-height: 20px;
}

td, th {
  padding: 0px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  height: 28px;
  font-weight:400;
  border: #e0e0e0 1px solid;
}

th {
  font-size: 12px;
}

span.badge {
  font-size: 0.85rem;
}

i.tiny {
  font-size: 1.25rem;
}

div.switcher-wrapper {
  display: inline-flex;
  align-items: center;
}

ul.font-switcher {
  border: #dedede 1px solid;
  border-radius: 2px;
  margin-block-end: 12px;
  margin-block-start: 12px;
}

ul.font-switcher li a {
  box-shadow:none;
}

.btn-small {
  height: 22px;
  line-height: 22px;
  font-size: 13px;
  color:black;
}

.btn-small:hover {
  background-color: #01579b;
  color:white;
}

.activated {
  background-color:#01579b;
  color:white;
}